body {
  margin: 20px 30px;
}

section {
  margin-bottom: 20px;
}

.search {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-family: "Lato", sans-serif;
}
.search::placeholder {
  padding-left: 15px;
  font-size: 1.2em;
  background-image: url(/assets/icon/loupe.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: right;
}

.form {
  display: flex;
  justify-content: space-between;
}

.header p {
  text-align: center;
  margin: 0;
}

.header h1 {
  color: #D04F4F;
  text-align: center;
  margin-top: 0;
}

.wrapper-btns-dropdown {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.btn-dropdown-container__arrow-down {
  height: 12px;
  filter: invert(100%);
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 18px;
  z-index: 99;
  transform: rotate(0deg);
}

.btn-dropdown-container__arrow-down--onclick {
  transform: rotate(180deg);
}

.btn-dropdown-container {
  width: 25%;
  height: 50px;
  font-family: "Lato", sans-serif;
  position: relative;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
}
.btn-dropdown h3 {
  color: white;
  font-size: 0.9em;
  font-weight: lighter;
}

.btn-dropdown--onclick {
  display: none;
}

#container-ingredient,
#container-ingredient .popup-input,
#container-ingredient .input {
  background: #3282F7;
}

#container-appliances,
#container-appliances .popup-input,
#container-appliances .input {
  background: #68D9A4;
}

#container-ustensils,
#container-ustensils .popup-input,
#container-ustensils .input {
  background: #ED6454;
}

.btn-dropdown-container--onclick {
  width: 42%;
  margin-left: 5px;
  height: 50px;
  font-family: "Lato", sans-serif;
  position: relative;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.popup-input {
  display: none;
  flex-direction: column;
  align-items: start;
  position: relative;
  border: none;
  border-radius: 5px;
}

.popup-input--onclick {
  display: flex;
}

.input {
  width: 100%;
  height: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  border-radius: 5px 5px;
  border: none;
  padding: 0;
}

.input::placeholder {
  color: white;
  padding: 0 15px;
  font-size: 1.1em;
  opacity: 50%;
}

.popup-input--onclick {
  display: block;
  flex-direction: column;
  align-items: start;
  padding: 0;
  position: relative;
}

.elements-liste {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  height: 200px;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}
.elements-liste li {
  padding: 0 15px;
  cursor: pointer;
}

.tag {
  display: none;
  border-radius: 5px;
  border: none;
  height: 30px;
  color: white;
  font-size: 0.8em;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag-container {
  display: none;
  flex-wrap: wrap;
}

.elements-liste-ing,
.elements-liste-appl,
.elements-liste-uts {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  height: 200px;
  flex-wrap: wrap;
  width: 100%;
}

.btn-dropdown-container--onclick {
  width: inherit;
}

.wrapper-btns-dropdown--onclick {
  margin-bottom: 250px;
  margin-left: -5px;
}

.input-liste {
  width: 30%;
  padding: 0 15px;
  font-size: 0.9em;
  line-height: 22px;
}

.wrapper-recipe {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin-bottom: 25px;
}
.wrapper-recipe .recipe-img {
  height: 120px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}

.wrapper-recipe-tittle-time {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.recipe-time {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
}
.recipe-time > div {
  font-weight: bold;
  padding-left: 5px;
}

.recipe-tittle {
  font-size: 0.8em;
  width: 60%;
}

.wrapper-recipe-ingredients-making {
  display: flex;
  justify-content: space-between;
}

.recipe-ingredients {
  width: 47%;
  font-size: 0.7em;
  font-family: "Lato", sans-serif;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.recipe-ingredients__li {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.recipe-making {
  width: 50%;
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding: 0 10px 10px 10px;
  background-color: #E7E7E7;
  border-radius: 0 0 5px 5px;
  height: 160px;
  overflow: hidden;
}

.recipes {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.message {
  color: #D04F4F;
  text-align: center;
  width: 100%;
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

.messageV2 {
  color: #3282F7;
  text-align: center;
  width: 100%;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  animation: message 0.8s;
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.6;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=style.css.map */
