@use "../abstracts/variables" as *;

body {
  margin: 20px 30px;
}
section {
  margin-bottom: 20px;
}
.search {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-family: "Lato", sans-serif;

  &::placeholder {
    padding-left: 15px;
    font-size: 1.2em;
    background-image: url(/assets/icon/loupe.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: right;
  }
}

/*
.fa-search {
  position: absolute;
  font-size: l9em;

  right: 10px;
  top: 50%;
}
*/

.form {
  display: flex;
  justify-content: space-between;
}
.header p {
  text-align: center;
  margin: 0;
}
.header h1 {
  color: $primary-color;
  text-align: center;
  margin-top: 0;
}
.wrapper-btns-dropdown {
  display: flex;
  width: 80%;


}

.btn-dropdown-ingredients {
  background: $btn-ingredients;

  &::placeholder {
    color: white;
  }
}
.btn-dropdown-container {
  width: 25%;
  height: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 0 5px;
}

.input-ingredients{
  
  background: $btn-ingredients;
  height: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 0 5px;
  border:none;
  padding:0;

  &::placeholder{
    color: white;
    background-image: url(/assets/icon/chevron-up-solid.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-x: right;
    //filter: invert(90%);
  }
}

.btn-dropdown-ingredients,
.btn-dropdown-appliances,
.btn-dropdown-utensils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border: none;
  border-radius: 5px;

  & h3 {
    color: white;
    font-size: 0.9em;
    font-weight: lighter;
  }
}

.btn-dropdown-container__arrow-down {
  height: 12px;
  filter: invert(100%);
}

.liste-ingredients {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
overflow-x :scroll;
  height: 200px;
  flex-wrap: wrap;
  width:100%;
}

.btn-dropdown-ingredients {
  background: $btn-ingredients;
}
.btn-dropdown-appliances {
  background: $btn-device;
}
.btn-dropdown-utensils {
  background: $btn-utensils;
}

.input-ingredients{
 width: 100%;
  padding: 0;
  border-radius: 5px 5px;

  &::placeholder{
    padding: 0 15px;
    font-size: 1.1em;
    opacity:50%;
  }


}
.test{

width:30%;
 
   
}
.wrapper-recipe {
  display: flex;
  flex-direction: column;
  width: 31%;

  margin-bottom: 25px;

  & .recipe-img {
    // width: 30%;
    height: 120px;
    background-color: $recipe-dark-bg;
    border-radius: 5px 5px 0 0;
  }
}

.wrapper-recipe-tittle-time {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.recipe-time {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;

  & > div {
    font-weight: bold;
    padding-left: 5px;
  }
}
.recipe-tittle {
  font-size: 0.8em;
  width: 60%;
}
.wrapper-recipe-ingredients-making {
  display: flex;
  justify-content: space-between;
  //height: 150px;
}
.recipe-ingredients {
  width: 47%;
  //height: auto;
  font-size: 0.7em;
  font-family: "Lato", sans-serif;
  padding-left: 0;
  list-style-type: none;
  // display: flex;

  //flex-wrap: wrap;
  margin: 0;
  // line-height: 1em;
  //flex-direction: column;
}
.recipe-ingredients__li {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  // line-height: 1em;

  //justify-content: flex-start;
}
.recipe-making {
  width: 50%;
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  // height: 180px;
  padding: 0 10px 10px 10px;
  background-color: $recipe-light-bg;
  border-radius: 0 0 5px 5px;
  height: 160px;
  overflow: hidden;
}
.recipes {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
